<div class="container">
	<h1 style="text-align: center">Comentarios</h1>
	<center>
	<%= form_for :comment, url: "http://localhost:3000/features/#{params[:id]}/create_message" do |form| %>
		<%= form.text_area :message, cols: 100, rows: 10, required: true%>
		<%= form.submit "Comentar" ,class: 'btn btn-primary col-md-8 col-md-offset-2',style:"margin-top:20px;display:center;"%>
	<% end  %>
	<%= button_to 'Volver', features_path, method: :get,class: 'btn btn-secondary col-md-2 col-md-offset-2',style:"margin-top:10px;" %>
	</center>
</div>